# Node / Next.js (Frontend)
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnp.*
frontend/.eslintcache

# Go (Backend)
backend/bin/
backend/vendor/
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
backend/*.test
backend/*.out

# OS / Editor
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de clientes (Backups)
docs/ref/
